# Database Configuration
# Database server url
DB_SERVER=localhost
# Database name
DB_NAME=surfstats
# Database User
DB_USER=surfstats_user
# Database Password
DB_PASSWD=your_secure_password_here
# ckSurf database prefix, default is ck_
DB_PREFIX=ck_

# Application Settings
# Stats page name
STAT_NAME=Sneak's Community - Surf Stats
# Name of your steam group (Optional)
GROUP_NAME=Website
# URL to your Steam group or Website
GROUP_URL=https://snksrv.com
# Set your local timezone here E.G. EST
LOCAL_TIMEZONE=America/Chicago
# Only supports English right now
CONF_LANGUAGE=eng
# How do you want profile stats to be displayed? 0 = No records, 1 = all in one, 2 = Record stats are displayed different from map stats
CONF_RECORD_STATS=2
