body{
	background-color:#000;
	color:#97B7D1;
	background-image:url("../images/ef7cb44d312df5038cba0f69a0901da427900645.jpg");
		background-repeat: no-repeat;
}

.container{
	width:800px;
	background-color:#28313A;
	border: 5px solid #3D4959;
}

thead{
	background-color:#1B2128;
	color:#BDC3C7;
}

tr{
	color:#BDC3C7;
}

.rank_great{
	color:#FDFE4A;
}

footer{
	padding-bottom:10px;
}

footer img{
	border:0px;
	float:right;
}