body{
	background-color:#000;
	color:#97B7D1;
}
thead{
	background-color:#1B2128;
	color:#BDC3C7;
}

tr{
	color:#BDC3C7;
}

footer{
	padding-bottom:10px;
}

footer img{
	border:0px;
	float:right;
}

.container{
	width:950px;
	background-color:#28313A;
	background-color: rgba(40, 49, 58, 0.9);
	border: 5px solid #3D4959;
}

.rank_great{color:#FDFE4A;}
.rank_1{color:#FAE800;}
.rank_2{color:#F1F1F1;}
.rank_3{color:#CDA04D;}